/**** Touch-devices */
.touch-on
*[ly-user_name__first_letter] {
	font-weight: bolder;
}
/* Touch-devices ****/

/**** screen max1015 */
/* Styles for screen from 1015px... */
*[ly-page__likes] {
	right: 30px;
	text-align: right;
}

*[ly-hldMain] {
	margin: 0 auto 0;
	clear: both;
}

*[ly-base__sidebar ~= 'master'] {
	border-top: 15px solid #FFF;
}

*[ly-base__sidebar] {
	text-align: center;
}

.iSideBar[ly-item] {
	display: inline-block;
}

.iSideBar[role = 'heading']  {
	padding-right: 16px;
}

*[ly-info_panel__devinfo] {
	margin-left: 1em;
}

menu menu
, *[ly-info_panel__tothetop] {
	display: none;
}

/**** screen min630 */
@media screen and (min-width:630px) {
*[ly-page__base]
, *[ly-page__info_panel]
, *[ly-page__banner] {
	width: 630px;
}}
/* screen min630 ****/

/**** screen max629 */
@media screen and (max-width:629px) {
.iSideBar[role = 'heading'] {
	background-image: none;
	padding-left: 16px;
}

.hImg-responsive {
	width: 30%;
}

*[ly-hldMain] object
, *[ly-hldMain] embed {
	width: 100%;
	height: auto;
}}
/* screen max629 ****/

/**** screen max422 */
@media screen and (max-width:422px) {
*[ly-base__sidebar]
, .iSideBar[ly-item] {
	clear: left;
}

*[ly-hldMain] h3 img
, *[ly-page__banner]
, *[ly-page__likes] {
	display: none;
}

*[ly-page__base] {
	padding-top: 0;
}}
/* screen max422 ****/

}
/* screen max1015 ****/