.bPanel {
	background: #CF9;	
}

/**** @class iSideBar */
a.iSideBar[role = 'heading'] {
	color: #CF9;
}

.iSideBar[role] {
	border-color: #CF9;
	transition: border-color .7s ease;
}

.iSideBar[ly-list = 'master'] a[role = 'heading']:hover
, .iSideBar[ly-list = 'master'] h2[role = 'heading'] {
	border-right-color: #FFF;
}

.iSideBar[ly-list = 'slave'] a[role = 'heading']:hover
, .iSideBar[ly-list = 'slave'] h2[role = 'heading'] {
	border-left-color: #FFF;
}
/* @class iSideBar ****/

a[href='#top'] {
	color: #CF9;
}

a[href='#top']:hover {
	color: #FFF;
}

.bPanel[role='contentinfo'] {
	background: #9C6;
}

.iSideBar[role = 'link'] {
	color: #9C6;
}

*[role='main'] b
, *[role='main'] strong
, *[role='main'] h3
, *[role='main'] h3 a
, *[role='main'] h4
, .iSideBar[ly-item ~= 'active']
, .iSideBar[role = 'link']:hover {
	color: #370;
}

*[role = 'main'] h3 a:hover {
	color: blue;
}

a.iSideBar[role = 'heading']
, .bBase  {
	background-color: #370;
}

body {
	background-attachment: fixed;
}

*[role='main']
, h2.iSideBar[role = 'heading']
, a.iSideBar[role = 'link']
 {
	background-color: #FFF;
}


.iSideBar[role = 'heading'] {
	background-repeat: no-repeat;
}

/* IcoMoon заменил спрайты */
/*
a.iSideBar[role = 'heading'] {
	background-position:  -385px 8px;
}

a.iSideBar[role = 'heading']:hover {
	background-position:  -185px 8px;
}

h2.iSideBar[role = 'heading'] {
	background-position:  15px 8px;
}
*/

a.iSideBar[role = 'heading']:hover {
	color: #FFF;
}

.-clrYandex {
	color: #000;
}

.-clrYandex span{
	color: red;
}

*[role='main'] {
	font-family: "PT Sans", Calibri, "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bPanel
, a.iSideBar[role = 'heading']
, .iSideBar[ly-item ~= 'active']
, *[role='main'] h3
, *[role='main'] h4 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.bPanel h1 {
	font-weight: normal;
}

.bPanel h1
, h2.iSideBar[role = 'heading'] {
	font-size: 1em;
}

.bPanel
, *[role='main'] h4
, h3 .tpDate
, .iSideBar[role = 'link'] {
	font-size: 0.8em;
}

a.iSideBar[role = 'heading']
, .iSideBar[ly-item ~= 'active'] {
	text-decoration: none;
}

/**** screen only */
@media screen {
.iMoreLess[aria-expanded] dd > *:first-child:after {
	color: blue;
	border-bottom-color: blue; 
}

a {
	color: blue;
}
}
/* screen only ****/

*[role='main'] h4 {
	text-transform: uppercase;
}

h2.iSideBar[role = 'heading'] {
	cursor: default;
}

/**** @class iGallery */
.iGallery[ly-txtDetails]
, .iGallery img {
	background: #CF9;
	color: black;
}

.iGallery[ly-txtDetails ~= 'paspartu']
,.iGallery li:hover *[ly-imgThumb ~= 'paspartu'] {
	background: #FFF;
}

.iGallery[ly-txtDetails ~= 'paspartu']
, .iGallery[ly-imgThumb ~= 'paspartu']
, .iGallery[ly-imgDetails ~= 'paspartu'] {
	border-color: #370;
	transition: background .5s ease;
}
/* @class iGallery ****/