.bPanel {
	background: #CF9;	
}

.bSideBar_mi > a {
	color: #CF9;
}

.bSideBar_mi.-active h2
, .bSideBar_mi a {
	border-color: #CF9;
	transition: border-color .7s ease;
}

.bSideBar.-master .bSideBar_mi > a:hover
, .bSideBar.-master .bSideBar_mi.-active h2 {
	border-right-color: #FFF;
}

.bSideBar.-slave .bSideBar_mi > a:hover
, .bSideBar.-slave .bSideBar_mi.-active h2 {
	border-left-color: #FFF;
}

a[href='#top'] {
	color: #CF9;
}

a[href='#top']:hover {
	color: #FFF;
}

.bPanel[role='contentinfo'] {
	background: #9C6;
}

.bSideBar_mi li a {
	color: #9C6;
}

*[role='main'] b
, *[role='main'] strong
, *[role='main'] h3
, *[role='main'] h3 a
, *[role='main'] h4
, .bSideBar_mi.-active
, .bSideBar_mi li a:hover {
	color: #370;
}

*[role='main'] h3 a:hover {
	color: blue;
}

.bSideBar_mi > a
, .bBase  {
	background-color: #370;
}

body {
	background-attachment: fixed;
}

*[role='main']
, .bSideBar_mi.-active h2
, .bSideBar_mi.-active a {
	background-color: #FFF;
}


.bSideBar_mi > a
, .bSideBar_mi h2 {
	background-repeat: no-repeat;
}

/* IcoMoon заменил спрайты */
/*
.bSideBar_mi > a {
	background-position:  -385px 8px;
}

.bSideBar_mi > a:hover {
	background-position:  -185px 8px;
}

.bSideBar_mi h2 {
	background-position:  15px 8px;
}
*/

.bSideBar_mi > a:hover {
	color: #FFF;
}

.-clrYandex {
	color: #000;
}

.-clrYandex span{
	color: red;
}

*[role='main'] {
	font-family: "PT Sans", Calibri, "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.bPanel
, .bSideBar_mi > a
, .bSideBar_mi.-active
, *[role='main'] h3
, *[role='main'] h4 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.bPanel h1 {
	font-weight: normal;
}

.bPanel h1
, .bSideBar_mi.-active h2 {
	font-size: 1em;
}

.bPanel
, *[role='main'] h4
, h3 .tpDate
, .bSideBar_mi li a {
	font-size: 0.8em;
}

.bSideBar_mi > a
, .bSideBar_mi.-active {
	text-decoration: none;
}

/**** screen only */
@media screen {
.iMoreLess.-more dd > *:first-child:after
, .iMoreLess.-less dd > *:first-child:after {
	color: blue;
	border-bottom-color: blue; 
}

a {
	color: blue;
}
}
/* screen only ****/

*[role='main'] h4 {
	text-transform: uppercase;
}

.bSideBar_mi.-active h2 {
	cursor: default;
}

/**** @class iGallery */
.iGallery[ly-txtDetails]
, .iGallery img {
	background: #CF9;
	color: black;
}

.iGallery[ly-list ~= 'paspartu'] *[ly-txtDetails]
, .iGallery[ly-list ~= 'paspartu'] li:hover *[ly-imgThumb] {
	background: #FFF;
}

.iGallery[ly-list ~= 'paspartu'] *[ly-txtDetails]
, .iGallery[ly-list ~= 'paspartu'] img {
	border-color: #370;
	transition: background .5s ease;
}
/* @class iGallery ****/