a img {
	/*border-style: none;*/
	display: inline-block;
}

ul
, ol {
	margin: 0;
	padding: 0 0 1em 15px;
}

li {
	list-style: square outside;
}

*[ly-page] {
	font-size: 1em;
	text-align: center;
}

*[ly-page]
, *[ly-sidebar]
, *[ly-sidebar__page_index]
, *[ly-list ~= 'unstyled']
, *[ly-list ~= 'unstyled'] > dd
, *[ly-list ~= 'paragraph']
, *[ly-sidebar__item] {
	margin: 0;
	padding: 0;
}

*[ly-list ~= 'unstyled']
, *[ly-sidebar__item]
, *[ly-list ~= 'unstyled'] > li
, *[ly-list ~= 'paragraph'] > li  {
	list-style: none;
	display: block;
}

/**** @group p ly-list */
p
, *[ly-list ~= 'paragraph'] > li {
	text-indent: 30px;
	margin: 0 0 0 15px;
	padding: 0 0 1em 0;
}
/* @group p ly-list ****/

/**** @class ly-list */
*[ly-list ~= 'inline'] {
	margin: 0 .5em 0 0;
	padding: 0;
}

*[ly-list ~= 'inline']
, *[ly-list ~= 'inline'] li {
	display: inline;
}
/* @class iList ****/

*[aria-hidden = 'true'] {
	display: none;
}

*[ly-section] {
	margin: 1em 0 0;
}

*[ly-section]:first-child {
	margin-top: 0;
}

*[ly-section__caption *= 'main_'] {
	margin: 0 0 .5em 0;
	padding: 0 0 0 15px;
	position: relative;
}

.iAnchor[href ^= '#'] {
	right: 100%;
	margin-right: -13px;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 0;
	
	transition: width .5s ease-out;
}

/**** IE8 cannot render these two selectors together! */
*[ly-section__caption *= 'main_']:hover  .iAnchor[href ^= '#'] {
	width: 23px;
}

*[ly-section__caption *= 'main_']:target  .iAnchor[href ^= '#'] {
	width: 23px;
}
/* IE8 cannot render these two :selectors together! ****/

*[ly-section__caption *= 'sub_'] {
	margin: 0 0 .2em 15px;
}

*[ly-caption__img] {
	float: right;
	clear: right;
	margin: 0 0 15px 15px;
}

/**** @class info_panel */
*[ly-page__info_panel] {
	padding: 15px 0;
	box-sizing:border-box;
	text-align: center;
	position: relative;
}
/* @class info_panel ****/

*[ly-page__banner]
, *[ly-page__info_panel]
, *[ly-page__base] {
	margin: 0 auto;
}

*[ly-page__banner] {
	position: absolute;
	top: 47px;
	left: 0;
	right: 0;
	height: 250px;
}

*[ly-base] {
	text-align: left;
	position: relative;
}

@media screen {
*[ly-page__base] {
	padding-top: 250px;
}
}

/**** @class sidebar */
*[ly-sidebar__caption] {
	display: block;
	padding: 1em 0 1em 58px;
	font-weight: bolder;
}

*[ly-sidebar__caption *= 'current_'] {
	margin: 0;
}

*[ly-sidebar__link] {
	display: block;
	padding-bottom: 15px;
	border-width: 15px;
}

*[ly-sidebar__link *= 'sidebar--master_']{
	text-align: right;
	padding-left: 15px;
	border-style: none none none solid;
}

*[ly-sidebar__link *= 'sidebar--slave_'] {
	text-align: left;
	padding-right: 15px;
	border-style: none solid none none;
}
/* @class sidebar ****/

*[ly-page__main] {
	padding: 15px;
}

*[ly-info_panel__tothetop] {
	position: absolute;
	left: 15px;
}

*[ly-info_panel__devinfo] {
	white-space: nowrap;
}

*[ly-page__likes] {
	position: absolute;
	top: 45px;
}

/**** @class ly-more_less screen only */
@media screen {
*[ly-more_less__hider *= '_less']
, *[ly-more_less__hider]._less {
	display: none;
}

*[ly-more_less__toggler] {
	cursor: default;
}

*[ly-more_less__toggler *= '_more']:after
, *[ly-more_less__toggler]._more:after {
	content: '<<<';
}

*[ly-more_less__toggler *= '_less']:after
, *[ly-more_less__toggler]._less:after  {
	content: '>>>';
}

*[ly-more_less__toggler]:after {
	display: inline;
	cursor: pointer;
	margin-left: 1ex;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

*[ly-more_less] { -webkit-animation: bugfix infinite 1s; }
}
/* @class ly-more_less screen only ****/

.hTxt-r {
	text-align: right;
}