*[ly-hldMain] {
	margin: 0 185px 0;
}

*[ly-page__banner]
, *[ly-page__info_panel]
, *[ly-page__base] {
	width: 1000px;
}

/**** @class base__sidebar */
*[ly-base__sidebar] {
	position: absolute;
	top: 250px;
	width: 185px;
}

*[ly-base__sidebar ~= 'master'] {
	left: 0;
}

*[ly-base__sidebar ~= 'slave'] {
	right: 0;
}
/* @class base__sidebar ****/

/**** @class iSideBar */
.iSideBar[role = 'heading'] {
	border-width: 15px;
	border-style: none solid;
}

.iSideBar[ly-item] {
	margin-bottom: 15px;
}
/* @class iSideBar ****/

*[ly-info_panel__devinfo] {
	position: absolute;
	right: 15px;
}

*[ly-page__likes] {
	left: 1015px;
}