/**** Touch-devices */
*[ly-touch = 'true'] .iYandex[ly-userName = 'firstLetter'] {
	font-weight: bolder;
}
/* Touch-devices ****/

/**** screen max1015 */
/* Styles for screen from 1015px... */
*[ly-hldBanner] {
	width: 100%;
}

*[ly-hldLikes] {
	right: 30px;
	text-align: right;
}

*[ly-hldMain] {
	margin: 0 auto 0;
	clear: both;
}

*[ly-hldSideBar ~= 'master'] {
	border-top: 15px solid #FFF;
}

*[ly-hldSideBar] {
	text-align: center;
}

.iSideBar[ly-item] {
	display: inline-block;
}

.iSideBar[role = 'heading']  {
	padding-right: 16px;
}

*[ly-hldDevInfo] {
	margin-left: 1em;
}

menu menu
, a[href='#top'] {
	display: none;
}

/**** screen min630 */
@media screen and (min-width:630px) {
*[ly-hldBase]
, .bPanel[role='banner'] {
	width: 630px;
}}
/* screen min630 ****/

/**** screen max629 */
@media screen and (max-width:629px) {
.iSideBar[role = 'heading'] {
	background-image: none;
	padding-left: 16px;
}

.img-responsive {
	width: 30%;
}

*[ly-hldMain] object
, *[ly-hldMain] embed {
	width: 100%;
	height: auto;
}}
/* screen max629 ****/

/**** screen max422 */
@media screen and (max-width:422px) {
*[ly-hldSideBar]
, .iSideBar[ly-item] {
	clear: left;
}

*[ly-hldLikes] {
	display: none;
}

*[ly-hldMain] h3 img
, *[ly-hldBanner]
, *[ly-hldLikes] {
	display: none;
}

*[ly-hldBase] {
	padding-top: 0;
}}
/* screen max422 ****/

}
/* screen max1015 ****/