.bBanner
, .bPanel[role='banner']
, .bBase {
	width: 1000px;
}

.bBase {
	background: #CF9;	
}

/**** @class hldSideBar */
*[ly-hldSideBar] {
	position: absolute;
	top: 250px;
	width: 185px;
}

*[ly-hldSideBar ~= 'master'] {
	left: 0;
}

*[ly-hldSideBar ~= 'slave'] {
	right: 0;
}
/* @class hldSideBar ****/

/**** @class iSideBar */
.iSideBar[role = 'heading'] {
	border-width: 15px;
	border-style: none solid;
}

.iSideBar[ly-item] {
	margin-bottom: 15px;
}
/* @class iSideBar ****/

*[role='main'] {
	margin: 0 185px 0;
}

*[hldDevInfo] {
	position: absolute;
	right: 15px;
}

*[ly-hldLikes] {
	left: 1015px;
}