/**** @class iGallery */
.iGallery[ly-list] {
	cursor: default;
	list-style: none;
	overflow: hidden;
	padding: 15px 0;
	text-align: center;	
}

.iGallery[ly-list = 'paspartu'] {
	padding: 0 0 10px;
}

.iGallery[ly-list] li {
	display: inline;
	font-size: 0;
	position: relative;
}

.iGallery[ly-thumb] {
	height: 180px;
	vertical-align: top;
}

@media print {
.iGallery[ly-thumb] {
	display: none;
}
}

.iGallery-thumb120px .iGallery[ly-thumb] {
	height: 120px;
}

@media screen {
.iGallery[ly-list = 'paspartu'] img
, .iGallery[ly-list = 'paspartu'] em {
	border-style: solid;
	border-width: 1px;
}
}

/**** @class iHover */
.iHover em {
	display: block;
	font-size: 16px;
	line-height: 2em;
	padding: 0 0.75em;
	text-align: left;
}

li:hover .iHover[ly-details] {
	height: auto;
	max-height: 2000px;
	transition: max-height 2s ease;
}

.iHover[ly-details] {
	display: block;
	float: left;
	overflow: hidden;
}

@media screen {
.iHover[ly-details] {
	max-height: 0;
	height: 0;
	animation: fadeOut 0.3s ease;
}
}

.iHover em {
	border-bottom: 0;
}

.iGallery[ly-list = 'paspartu'] em {
	margin: 15px 0 0;
}

.iGallery[ly-list = 'paspartu'] img {
	padding: 4px;
}

.iGallery[ly-list = 'paspartu'] .iGallery[ly-thumb] {
	margin: 15px 8px 0 7px;
}

.iHover[ly-thumb]  {
	transition: margin-top .2s linear;
}

a:hover .iHover[ly-thumb] {
	margin-top: 4px;
}

.iGallery[ly-list = 'paspartu']  li:hover .iHover[ly-thumb] {
	margin-top: 19px;
}

.iHover[ly-details] img {
	width: 600px;
}
/* @class iHover ****/
/* @class iGallery ****/

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}