/**** @class iGallery */
.iGallery[ly-list] {
	cursor: default;
	list-style: none;
	overflow: hidden;
	padding: 15px 0;
	text-align: center;	
}

.iGallery[ly-list ~= 'paspartu'] {
	padding: 0 0 10px;
}

.iGallery[ly-list] li {
	display: inline;
	font-size: 0;
	position: relative;
}

.iGallery[ly-imgThumb] {
	height: 180px;
	vertical-align: top;
}

@media print {
.iGallery[ly-imgThumb] {
	display: none;
}
.iGallery[ly-imgDetails] {
	max-width: 18cm;
	max-height: 18cm;
}
}

.iGallery[ly-imgThumb ~= 'h120px'] {
	height: 120px;
}

.iGallery[ly-txtDetails] {
	display: block;
	font-size: 16px;
	line-height: 2em;
	padding: 0 0.75em;
}

.iGallery[ly-hldDetails] {
	float: left;
	overflow: hidden;
	text-align: center;
	width: 600px;
}

.iGallery li:hover *[ly-hldDetails ~= 'bhvrHover'] {
	height: auto;
	max-height: 2000px;
	transition: max-height 2s ease;
}

@media screen {
.iGallery[ly-hldDetails ~= 'bhvrHover'] {
	max-height: 0;
	height: 0;
	animation: fadeOut 0.3s ease;
}

.iGallery[ly-list ~= 'paspartu'] img {
	border-style: solid;
	border-width: 1px;
}

.iGallery[ly-imgDetails] {
	max-width: 600px;
	max-height: 600px;
}
}

.iGallery[ly-txtDetails ~= 'paspartu'] {
	margin: 15px 0 0;
}

.iGallery[ly-list ~= 'paspartu'] img {
	padding: 4px;
}

.iGallery[ly-imgThumb ~= 'paspartu'] {
	margin: 15px 8px 0 7px;
}

.iGallery[ly-imgThumb ~= 'bhvrHover']  {
	transition: margin-top .2s linear;
}

a:hover .iGallery[ly-imgThumb ~= 'bhvrHover'] {
	margin-top: 4px;
}

 .iGallery li:hover *[ly-imgThumb ~= 'bhvrHover'][ly-imgThumb ~= 'paspartu'] {
	margin-top: 19px;
}
/* @class iGallery ****/

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}