*[ly-page] {
	background: #FFF top center;
	background-attachment: fixed;
}

/**** @class ly-hldMain */
*[role = 'main'] {
	font-family: "PT Sans", Calibri, "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

*[ly-section__caption *= 'sub_'] {
	text-transform: uppercase;
}

*[role = 'main'] a
, .iMoreLess[aria-expanded] dd > *:first-child:after {
	color: #09C;
	border-bottom-color: #09C;
}

*[role = 'main'] a:visited {
	color: #069;
}

*[role = 'main'] a:hover {
	color: #6CF;
}
/* @class ly-hldMain ****/

*[role = 'main']
, *[ly-sidebar__caption *= 'current_']
, *[ly-sidebar__link] {
	background-color: #FFF;
}

*[role = 'main'] b
, *[role = 'main'] strong
, *[ly-section__caption]
, *[ly-section__caption] a
, *[ly-sidebar__caption *= 'current_']
, *[ly-sidebar__link]:hover {
	color: #630;
}

/**** @class iSideBar */
*[ly-sidebar__caption *= 'other_']  {
	
	background-color: #630;
	transition: border-color .7s ease;
	text-decoration: none;
}

*[ly-sidebar__caption *= 'other_']
, *[ly-sidebar__link] {
	color: #C96;
}

*[ly-sidebar__caption]
, *[ly-sidebar__link] {
	border-color: #C96;
}

*[ly-base__sidebar = 'master'] *[ly-sidebar__caption *= 'other_']:hover 
, *[ly-base__sidebar = 'master'] *[ly-sidebar__caption *= 'current_'] {
	border-right-color: #FFF;
}

*[ly-base__sidebar = 'slave'] *[ly-sidebar__caption *= 'other_']:hover
, *[ly-base__sidebar = 'slave'] *[ly-sidebar__caption *= 'current_'] {
	border-left-color: #FFF;
}

*[ly-sidebar__caption] {
	background-repeat: no-repeat;
}

*[ly-sidebar__caption *= 'other_']:hover {
	color: #FFF;
}

*[ly-sidebar__caption *= 'current_'] {
	cursor: default;
}
/* @class iSideBar ****/

*[ly-info_panel]
, *[ly-sidebar__caption]
, *[ly-section__caption] {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

*[ly-section__caption *= 'main_'] {
	font-size: 1.15em;
}

*[ly-sidebar__caption *= 'current_'] {
	font-size: 1em;
}

*[ly-info_panel]
, *[ly-section__caption *= 'sub_']
, *[ly-section__date]
, *[ly-sidebar__link] {
	font-size: .8em;
}

/**** @class info_panel */
*[ly-info_panel *= 'light_'] {
	background: #C96;	
}

*[ly-info_panel *= 'dark_'] {
	background: #630;
}

[ly-info_panel]
*[ly-info_panel__link]:hover {
	color: #FFF;
}

[ly-info_panel *= 'light_']
*[ly-info_panel__link] {
	color: #630;
}

[ly-info_panel *= 'dark_']
*[ly-info_panel__link] {
	color: #C96;
}
/* @class info_panel ****/

/**** @class iGallery */
.iGallery[ly-txtDetails]
, .iGallery img {
	background: #C96;
	color: black;
}

.iGallery[ly-txtDetails ~= 'paspartu']
,.iGallery li:hover *[ly-imgThumb ~= 'paspartu'] {
	background: #FFF;
}

.iGallery[ly-txtDetails ~= 'paspartu']
, .iGallery[ly-imgThumb ~= 'paspartu']
, .iGallery[ly-imgDetails ~= 'paspartu'] {
	border-color: #630;
	transition: background .5s ease;
}
/* @class iGallery ****/
*[ly-user_name__first_letter = 'yandex_'] {
	color: red;
}

*[ly-base] {
	background: #C96;	
}

/**** when menus in two rows with icons */
@media (max-width: 1015px) {
*[ly-base] {
	background: #630;
}

*[ly-page] {
	background-color: #963;
}
}
/* when menus in two rows with icons ****/

.animations-on
*[ly-page = 'about'] *[ly-page__banner]:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
}

/**** ANIMATIONS */
/**** when menus in two columns with icons */
@media (min-width:1015px) {
.animations-on *[ly-page = 'about'] *[ly-page__banner]:before {
	-webkit-animation: fadeOut 4s forwards ease-in-out;
	animation: fadeOut 4s forwards ease-in-out;
}

.animations-on *[ly-page = 'about'] *[ly-page__banner]:hover:before{
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}
}
/* when menus in two columns with icons ****/

/**** when menus in two rows without icons */
@media (min-width:630px) {
.animations-on .hImg-responsive {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
}
/* when menus in two rows without icons ****/
/* ANIMATIONS ****/